* {
    margin: 0;
    padding: 0;
  }
  .contenido {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-link {
    margin-right: 15px;
    width: auto;
    font-size: large;
  }
  
  .nav-link > svg {
    margin-right: 7px;
    margin-bottom: 3px;
  }

  /*Carousel*/

  .carousel-inner img {
    width: 100%;
    height: 550px;
  }

  /*Texto*/
  

  /*hr*/



  /*Footer*/

  footer{
    background-color: #ebebeb !important;
    margin-top: 80px;
    color: black !important;
}
